body{background:transparent;}
body,h1,h2,h3,h4,h5,h6{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;}
.activation-form{padding-bottom: 9px;}
.mb0{margin-bottom: 0px;}
.mt0{margin-top: 0px;}
.m0{margin: 0px;}